/* Everything */
* {
  box-sizing: border-box;
  text-align: center;
  font-family: Ubuntu;
}

body {
  background-color: lightgrey;
}
img {
  width: 100%;
}

.main-header h2,
.main-nav li,
.skills h2,
.skills li,
#portfolio,
#phone,
#email,
.main-footer h2,
.footer-nav li {
  font-weight: bolder;
}

#phone,
#email,
.skills li {
  color: blue;
}

.main-nav a,
#portfolio,
#contact,
.footer-nav a{
  text-transform: uppercase;
}

/* Header */
.main-header h2,
.main-nav li{                   /*Centers headers*/
  text-align: center;
}

.main-nav ul,
.footer-nav ul{
  padding: 0;                    /*Removes list types and padding*/
  list-style-type: none;
}

.main-nav ul {
  width: 95%;
  margin: 10px auto;
}

.main-nav li {
  background-color: white;
  display: block;
  margin: 5px 0;
  padding: 10px 0;
}

.main-nav a {
  display: block;
  text-decoration: none;
  color: black;
}

/* Intro */

.intro {
  width: 75%;
  margin: 30px auto 0;
}

.intro img {
  border: 5px;
}

.intro p {
  margin: 30px -15px;
  font-size: 1.3em;
}

/* #portfolio */
.portfolioSection {
  background-color: LightSteelBlue;
}

#portfolio {
  padding: 15px 25px 25px;
  margin: 0 auto;
}
.col {
  padding: 15px 25px;
}

/* Skills */
.skills {
  width: 95%;
  margin: 30px auto 0;
}

.skills ul {
  list-style-type: none;
  padding-left: 0;
}

.skills li {
  margin-top: 15px;
}

/* Bottom Contact */

.bottom-contact a {
  text-decoration: none;
  color: black;
}

.bottom-contact {
  text-align: center;
  padding: 15px 25px 25px;
}

/* Footer */

.main-footer {
  margin: 15px 25px 25px;
  border-top: solid 2px grey;
}

.main-footer a {
  text-decoration: none;
  color: black;
}

.main-footer h2{
  float: left;
}

.footer-nav {
  display: none;
}

.take-top {
  float: right;
  padding-top: 25px;
}

@media (min-width: 768px) {

  /* Header */

  .main-header h2,
  .main-nav li{                   /*Centers headers*/
    text-align: center;
  }

  .main-nav li {
    display: inline-block;
    margin: auto 10px;
    background-color: lightgrey;
  }

/* Intro */

  .intro {
    width: 90%;
    margin-bottom: 80px;
  }

  .intro p {
    width: 55%;
    float: left;
    font-size: 1.5em;
    margin-bottom: 0;
    text-align: left;
  }

  .intro img {
    width: 45%;
    float: right;
    margin-top: 40px;
  }

  /* Portfolio */
  .portfolioSection {
    width: 100%;
    background-color: LightSteelBlue;
    padding-left: 30px;
    padding-right: 25px;
  }

  #portfolio {
    padding-top: 50px;
    margin: 25px auto;
  }
  .col{
    float: left;
    width: 50%;
    padding: 15px 10px;
    display: table;
  }

  .col p{
    font-size: 1.3em;
    padding: 10px;
  }

  /* Skills */
  .skills {
    margin: 60px auto 0;
    font-size: 1.3em;
  }

  .skills li {
    margin-top: 20px;
  }

  /* Bottom Contact */
  .bottom-contact {
    font-size: 1.3em;
  }


  /*Footer Nav*/

  .take-top {
    display: none;
  }

  .footer-nav {
    display: block;
    float: right;
    margin-top: 10px;
  }

  .footer-nav li {
    float: left;
    margin-left: 30px;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media (min-width: 1024px) {
  /* Header */

  .main-header {
    width: 95%;
    margin: auto;
  }

  .main-header h2{
    float: left;
    display: inline-block;
    padding-top: 20px;
  }

  .main-nav ul {
    margin: 30px 0 0 35px;
  }

  .main-nav {
    float: right;
    margin-bottom: 20px;
  }

  .main-nav li {
    display: inline-block;
    background-color: lightgrey;
    margin-left: 30px;
    float: left;
  }

  /* Intro */
  .intro p {
    font-size: 2em;
  }

  /* Portfolio Section */
  .portfolioSection {
    width: 100%;
    margin: 0 auto;
    background-color: LightSteelBlue;
  }

  .col{
    float: left;
    width: 33.33%;
  }

  .col p{
    font-size: 1.5em;
  }
}
